.d-grid {
  background-image: url("profile-pic.jpg");
  background-color: #0c0c0c;
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: top right;
}

#me {
  border-radius: 100%;
  width: 20%;
  min-width: 150px;
  text-align: center;
}

.name {
  color: white;
  font-size: 2em;
}

p {
  color: white;
}

.glass {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.btn {
  min-width: 250px;
}
