:root {
  background-color: black;
}

.d-grid {
  background-color: black;
  width: 60%;
}

body {
  display: flex;
  --bs-body-bg: black;
  --bs-body
  justify-content: center;
  align-content: center;
}


